<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zadanie3.Properties.Settings.AdventureWorks2014_DataConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\sewer\Documents\TP_2019Z_C14_JF_SK\Zadanie3\UnitTestZadanie3\database\AdventureWorks2014_Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>